body {
    margin: 25px;
    background: linear-gradient(to right, #000000, #282727);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover {

    color: rgb(185, 183, 183);
}

div.header {
    color: white;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

nav {
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

div.text {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
}

div.normaltext {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    position: relative;
    bottom: 18px;
}

.contactinfo {
    display: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 80px, auto, auto;
    position: relative;
    top: 80px;

}

#pfp1 {
    width: 80px;
    align-items: center;
    border: 4px solid white;
    border-radius: 50px;
    margin-bottom: 60px;
    z-index: 2;
    position: relative;
   
}

#jhongcontact {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 10px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
    color: black;
    margin: 10px;
    z-index: 1;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);

    position: relative;
    bottom: 25px;
    right:38px;
}

#pfp2 {
    width: 80px;
    align-items: center;
    border: 4px solid white;
    border-radius: 50px;
    margin-bottom: 60px;
    z-index: 2;
    position: relative;
 
}

#meracontact {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
    color: black;
    margin: 10px;
    z-index: 1;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);

    position: relative;
    top: 125px;
    right: 332px;

}

div.contacttext {
    display: flex;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    background-color: white;
    color: black;
    position: relative;
    bottom: 65px;

    border-style: outset;
    border-radius: 10px;
    border-width: 2px solid black;
}

.pfp {
    border-radius: 40px;
    border: 2px solid white;
    display: block;
    margin-left: auto;

}

.pfp:hover {
    animation: 0.3s ease running click;
}

#pfp1:hover,
#pfp2:hover {
    animation: 0.3s ease running click;
}

.photo {
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#placeimage {
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
    max-width: 650px;
    display: flex;
    position: relative;
    bottom: 500px;

}

div.video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

video.vid2 {
    border-style: outset;
    border-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    display: block;
}

.video iframe {
    border-style: outset;
    border-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    display: block;
}

#video1 {
    display: block;
    border-style: outset;
    border-color: white;
    border-radius: 10px;
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 500px;
    margin-top: 100px;
    
}
    div.content{
        display: flex;
        flex-direction: row;
        align-items: center;

    }


@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}









